@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic|Roboto+Mono:400,400i,500,500i");

/* @start CORE */
*, *:after, *:before{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	line-height: 18px;
	font-family: Roboto, "Segoe UI", "Open Sans", sans-serif;
	background-color: #f0f0f0;
}
a{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 15px 0;
	padding: 0 5px;
	display: block;
	font-weight: 400;
}
h1{
	padding: 0 10px;
	font-size: 26px;
	line-height: 30px;
	border-bottom: 1px solid #d0d0d0;
}
h2{
	font-size: 20px;
	line-height: 24px;
}
h3{
	font-size: 18px;
	line-height: 22px;
}
h4{
	font-size: 16px;
	line-height: 20px;
}
h5{
	font-size: 14px;
	line-height: 18px;
}
h6{
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
}
p{
	margin: 15px 0;
	padding: 0;
	display: block;
}
blockquote{
	color: #666666;
	margin: 15px 0;
	padding: 10px 15px;
	display: block;
	border-left: 3px solid #DC4650;
	background: #f0f0f0;
}
blockquote cite{
	color: #333333;
	margin: 5px 10px 0 10px;
	padding: 0;
	display: block;
	font-style: italic;
}
pre{
    max-width: 490px;
	margin: 15px 0;
	tab-size: 4;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

input{
    width: 150px;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 1px 1px #f0f0f0;
    -webkit-box-shadow: inset 0 1px 1px #f0f0f0;
}
input:hover{
    border-color: #a0a0a0;
}
input:focus{
    border-color: #DC4650;
}
input + button{
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
}
input + button:hover{
    border-color: #a0a0a0;
}
input + button:active{
    color: #777;
    border-color: #a0a0a0;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 1px #c0c0c0;
    -webkit-box-shadow: inset 0 1px 1px #c0c0c0;
}
.left{ text-align: left; }
.right{ text-align: right; }
.center{ text-align: center; }
.tail-demo{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
.container{
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	display: block;
}
/* @end CORE */

/* @start HIGHLIGHT.JS (Pedro Oliveira <kanytu@gmail.com>) */
.hljs{
	color: #a9b7c6;
	margin: 0;
	padding: 10px 15px;
	display: block;
	overflow-x: auto;
	background: #282b2e;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.hljs-number, .hljs-literal, .hljs-symbol, .hljs-bullet{
	color: #6897BB;
}
.hljs-keyword, .hljs-selector-tag, .hljs-deletion{
	color: #cc7832;
}
.hljs-variable, .hljs-template-variable, .hljs-link{
	color: #629755;
}
.hljs-comment, .hljs-quote{
	color: #808080;
}
.hljs-meta{
	color: #bbb529;
}
.hljs-string, .hljs-attribute, .hljs-addition{
	color: #6A8759;
}
.hljs-section, .hljs-title, .hljs-type{
	color: #ffc66d;
}
.hljs-name, .hljs-selector-id, .hljs-selector-class{
	color: #e8bf6a;
}
.hljs-emphasis{
	font-style: italic;
}
.hljs-strong{
	font-weight: bold;
}
a.hljs-link{
	color: #ffc66d;
	font-style: italic;
	text-decoration: underline;
}
a.hljs-link:hover{
	opacity: 0.5;
}
/* @end HIGHLIGHT.JS */

/* @start TOOLTIP */
.tooltip-container{
	color: #fff;
	margin: 7px 0 5px 0;
	padding: 5px 10px;
	display: block;
	z-index: 80;
	position: absolute;
	font-size: 12px;
	line-height: 16px;
	background: #555555;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.tooltip-container span{
	top: -16px;
	left: 50%;
	width: 16px;
	color: #555555;
	margin: 0 0 0 -8px;
	z-index: 90;
	padding: 0;
    display: inline-block;
	position: absolute;
}
.tooltip-container span:before{
	content: "\f0d8";
    font: normal normal normal 24px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* @end TOOLTIP */

/* @start HEADER */
.header{
	color: #ffffff;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	display: block;
	background-color: #DC4650;
}
.header .header-title{
	height: 70px;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.header .header-title .title-logo{
	width: 70px;
	height: 70px;
	margin: 0;
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
}
.header .header-title .title-logo .logo-tail{
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: #ffffff;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj48cGF0aCBkPSJNNDkuMjk0LDI0LjA3M\
    2wtNi4yMjgsLTYuNTU2bDMuNzI5LDAuMzk3bDIuNDk5LDYuMTU5WiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6\
    bm9uemVybzsiLz48cGF0aCBkPSJNNDYuNjE2LDE2LjYzN2wtNC4yMTQsLTAuNDQ4bDQuMzEzLC04LjY1OWwtMC4wOTksOS4\
    xMDdaIiBzdHlsZT0iZmlsbDojZGM0NjUwO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik00MC41MDIsMTYuNzk5bC\
    03LjIzNyw3LjYzM2wwLjExNCwtMTIuODcybDcuMTIzLDUuMjM5WiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6b\
    m9uemVybzsiLz48cGF0aCBkPSJNMTAuNjk3LDI2Ljg3OWwtMTAuMDg1LC0xMC4zMzJsMTEuMjg4LDEuNTg2bDYuMjEsNC43\
    NzhsLTEuNzQ2LDQuOWwtNS42NjcsLTAuOTMyWiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6bm9uemVybzsiLz4\
    8cGF0aCBkPSJNMTQuMTg1LDM3LjY0OGw0LjUyNSwtMTIuNjk4bDguNTQ1LDEwLjMxOGwtMTMuMDcsMi4zOFoiIHN0eWxlPS\
    JmaWxsOiNkYzQ2NTA7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTM2LjMwNiw0NC4yMzlsLTE3LjA2MSwtMjAuN\
    jA0Yy0wLjAxNSwtMC4wMTcgLTAuMDM1LC0wLjAyNiAtMC4wNTIsLTAuMDQxbDAuNjk4LC0xLjk1N2wxMi4xMjcsMi41MTNs\
    LTAuMDE3LDEuODU5YzAsMC4wMDkgMC4wMDUsMC4wMTcgMC4wMDUsMC4wMjdjMC4wMDIsMC4wNDggMC4wMTEsMC4wOTUgMC4\
    wMjQsMC4xNDNjMC4wMDQsMC4wMTQgMC4wMDIsMC4wMyAwLjAwNywwLjA0NGw2LjQ4OCwxOC4yNDFsLTIuMjE5LC0wLjIyNV\
    oiIHN0eWxlPSJmaWxsOiNkYzQ2NTA7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTM5Ljg1NCwzNi45NzhsLTIuN\
    TU5LC0xLjg4bDIuOTQ2LC0xLjg5MWwyLjQ3NiwzLjY0M2wtMi44NjMsMC4xMjhaIiBzdHlsZT0iZmlsbDojZGM0NjUwO2Zp\
    bGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik00MC4zMDIsMzEuNjgybC00LjA2OCwyLjYxMWwtMi43MDYsLTcuNjFsNy4\
    wODUsMC4zMzhsLTAuMzExLDQuNjYxWiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6bm9uemVybzsiLz48cGF0aC\
    BkPSJNMzQuMDE4LDI1LjQ1NWw3LjQyNSwtNy44MzJsOC4xNDYsOC41NzVsLTE1LjU3MSwtMC43NDNaIiBzdHlsZT0iZmlsb\
    DojZGM0NjUwO2ZpbGwtcnVsZTpub256ZXJvOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.header .header-title .title-text{
	height: 70px;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}
.header .header-title .title-text .title-name{
	margin: 0;
	padding: 15px 0 0 0;
	display: block;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	vertical-align: top;
}
.header .header-title .title-text .title-name span{
	opacity: 0.75;
	font-weight: 300;
}
.header .header-title .title-text .title-version{
	margin: 0;
	padding: 0;
	display: block;
	opacity: 0.75;
	text-align: right;
	vertical-align: top;
}
.header .header-title .title-text .title-version span{
	opacity: 0.5;
}
.header .header-navi{
	float: right;
	height: 70px;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}
.header .header-navi ul.navi{
	height: 70px;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
.header .header-navi ul.navi>li.navi-item{
	height: 70px;
	margin: 0;
	padding: 20px 5px;
	display: inline-block;
	position: relative;
	list-style: none;
}
.header .header-navi ul.navi>li.navi-item>a{
	cursor: pointer;
	color: #ffffff;
	margin: 0;
	padding: 2px 10px 0 10px;
	display: block;
	font-size: 14px;
	line-height: 28px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.header .header-navi ul.navi>li.navi-item.item-extern>a{
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.header .header-navi ul.navi>li.navi-item>a:hover,
.header .header-navi ul.navi>li.navi-item.active>a{
	color:#DC4650;
	background: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.header .header-navi ul.navi>li.navi-item.item-extern>a span.fa{
	color: rgba(255, 255, 255, 0.75);
	margin: 0;
	padding: 0 5px 0 0;
	display: inline-block;
}
.header .header-navi ul.navi>li.navi-item.item-extern>a:hover span.fa{
	color: #DC4650;
}
/* @end HEADER */

/* @start TOPBAR */
.topbar{
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px solid #d0d0d0;
	background: #ffffff;
}
.topbar .container{
	padding: 0 10px;
}
.topbar .topbar-left, .topbar .topbar-right{
	width: auto;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 0;
	display: inline-block;
	vertical-align: top;
}
.topbar .topbar-right{
	float: right;
}
.topbar .topbar-meta{
	cursor: pointer;
	margin: 0 5px;
	padding: 0;
	display: inline-block;
	border: 1px solid #dadada;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.topbar .topbar-left .topbar-meta:first-child{
	margin-left: 0;
}
.topbar .topbar-right .topbar-meta:last-child{
	margin-right: 0;
}
.topbar .topbar-meta>span{
	float: left;
	margin: 0;
	padding: 3px 7px 3px 7px;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
}
.topbar .topbar-meta>span:first-child{
	color: #777777;
}
.topbar .topbar-meta.meta-vanilla{
	border-color: #F0DB4F;
}
.topbar .topbar-meta.meta-vanilla>span:first-child{
	color: #333;
	background-color: #F0DB4F;
}
.topbar .topbar-meta.meta-vanilla>span:last-child{
	color: #333;
	background-color: #fff;
}
.topbar .topbar-meta.meta-jquery{
	border-color: #0769ad;
}
.topbar .topbar-meta.meta-jquery>span:first-child{
	color: #fff;
	background-color: #0769ad;
}
.topbar .topbar-meta.meta-jquery>span:last-child{
	color: #0769ad;
	background-color: #fff;
}
.topbar .topbar-meta.meta-mootools{
	border-color: #6C788E;
}
.topbar .topbar-meta.meta-mootools>span:first-child{
	color: #fff;
	background-color: #6C788E;
}
.topbar .topbar-meta.meta-mootools>span:last-child{
	color: #6C788E;
	background-color: #fff;
}
.topbar .topbar-meta.meta-firefox{
	border-color: #e66000;
}
.topbar .topbar-meta.meta-firefox>span:first-child{
	color: #fff;
	background-color: #e66000;
}
.topbar .topbar-meta.meta-firefox>span:last-child{
	color: #e66000;
	background-color: #fff;
}
.topbar .topbar-meta.meta-chrome{
	border-color: #4285f4;
}
.topbar .topbar-meta.meta-chrome>span:first-child{
	color: #fff;
	background-color: #4285f4;
}
.topbar .topbar-meta.meta-chrome>span:last-child{
	color: #4285f4;
	background-color: #fff;
}
.topbar .topbar-meta.meta-opera{
	border-color: #cc0f16;
}
.topbar .topbar-meta.meta-opera>span:first-child{
	color: #fff;
	background-color: #cc0f16;
}
.topbar .topbar-meta.meta-opera>span:last-child{
	color: #cc0f16;
	background-color: #fff;
}
.topbar .topbar-meta.meta-ie{
	border-color: #00a1f1;
}
.topbar .topbar-meta.meta-ie>span:first-child{
	color: #fff;
	background-color: #00a1f1;
}
.topbar .topbar-meta.meta-ie>span:last-child{
	color: #00a1f1;
	background-color: #fff;
}
/* @end TOPBAR */

/* @start CONTENT */
.content{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
.content-page{
	width: 100%;
	margin: 30px 0;
	padding: 0;
	display: block;
}
.content-page:last-child{
	margin-bottom: 0;
}
.content-area{
	width: 100%;
	margin: 20px 0;
	padding: 0;
	display: block;
}
.content-area:first-child{
	margin-top: 0;
}
.content-area:last-child{
	margin-bottom: 0;
}
.content-area.content-area-2{
	width: 100%;
	padding: 0;
	display: table;
}
.content-area .content-inner{
	width: 100%;
	margin: 0;
	padding: 0 10px;
	display: block;
	vertical-align: top;
}
.content-area.content-area-2 .content-inner{
	width: 50%;
	display: table-cell;
}
.content-area.content-area-2 .content-inner:first-child{
	padding: 0 15px 0 10px;
}
.content-area.content-area-2 .content-inner:last-child{
	padding: 0 10px 0 15px;
}
.content-area .widget{
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
	background: #ffffff;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 2px solid #dfdfdf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.content-area .widget:last-child{
	margin: 0;
}
.content-area .widget header{
	color: #ffffff;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
	background: #555555;
}
.content-area .widget.widget-toc header{
	color: #333333;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 30px;
	background: none;
}
.content-area .widget header .widget-title{
	margin: 0;
	padding: 1px 15px 0 15px;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	vertical-align: top;
}
.content-area .widget header .widget-options{
	float: right;
	width: auto;
	height: 40px;
	margin: 0;
	padding: 5px 5px;
	display: inline-block;
	vertical-align: top;
}
.content-area .widget header .widget-options .widget-option{
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 0 0 0 5px;
	padding: 0;
	display: inline-block;
	text-align: center;
	background: #333333;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.content-area .widget header .widget-options .widget-option.active,
.content-area .widget header .widget-options .widget-option:hover{
	color: #555555;
	background: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.content-area .widget header .widget-options .widget-option .fa{
	font-size: 14px;
	line-height: 30px;
}
.content-area .widget article{
	width: 100%;
    height: 200px;
	margin: 0;
	padding: 15px;
	display: block;
}
.content-area .widget article.show-example div{
    padding-top: 70px;
    text-align: center;
}
.content-area .widget article>*:first-child{
	margin-top: 0;
}
.content-area .widget article>*:last-child{
	margin-bottom: 0;
}
/* @end CONTENT */

/* @start DOCS */
.content-area .content-docs{
	margin: 0;
	padding: 0 10px;
	display: table-cell;
	vertical-align: top;
}
.content-area .content-docs-sidebar{
	width: 300px;
	margin: 0;
	padding: 0 10px;
	display: table-cell;
	vertical-align: top;
}
/* @end DOCS */
